<h1>Hover Highlight Directive</h1>
<p appHoverLighlight highlightColor="lightblue">
  Hover over me to see the lightblue highlight
</p>
<p appHoverLighlight highlightColor="pink">
  Hover over me to see the pink highlight
</p>
<p appHoverLighlight highlightColor="lightgreen">
  Hover over me to see the lightgreen highlight
</p>

<h2>Text Transform Directive</h2>
<p appTextTransform>This text will be in uppercase.</p>
<p appTextTransform transformType="lowercase">
  This text will be in uppercase.
</p>

<h3>Click Out side Directive</h3>
<div appClickOutside>
    <p>click inside this div to log 'inside' </p>
    <p>click outside this div to log 'outside' </p>
</div>

<h3>Focus on Directive</h3>
<p>When the page loads, the input field will be focused</p>
<input type="text" appFoucusOn placeholder="Type here...">